body {
	background-color: black;
	margin: 0;
}
#container {
	background-color: grey;
	width: 1000px;
	margin: 0 auto;
}
header{
	background-color: DarkRed;
	border: 2px solid black;
	height: 45px;
}
main{
	padding-left: 20px;
	padding-right: 20px;
}
#main-top{
	height: 400px;
	margin-top: 40px;
	margin-bottom: 40px;
}
#main-top div{
	width: 450px;
}
#main-top-left{
	float:left;
}
#main-top-left h2 {
	margin-right: 40px;
}
#main-top-left h1{
	font-size: 84px;
	margin-top: 10px;
	text-align: left;
	
}
#main-top-right{
	float: right;
}
#main-middle {
	tex-color: black;
}
.selfie {
	width: 400px;
	height: 270px;
	transform: rotate(270deg);
	border: 2px solid black;
	margin-top: 60px;
	margin-bottom: 80px;
}
.blinking {

    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}
.home-pic-portrait {
	width: 400px;
	height: 350px;
	transform: rotate(100deg);
	border: 2px solid black;
}
.home-pic {
	width: 400px;
	height: 350px;
	border: 2px solid black;
}
#main-bottom div{
	border: 1px solid black;
	background-color: DarkRed;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 20px;
	width: 300px;
	display: inline-block; 
}	float: bottom;
#main-bottom h3{
	text-align: center;
	font-size: 	28px;
	color: grey;
	margin-top: 3px;
}
a {
	color: grey;
	align: center;
}	
a h1{
	color: black;
}

a:hover {
	color: white;
}	
a h1:hover {
	color: DarkRed;
}
.portrait:hover {
	transform: scale(.5);
}
footer {
	text-align: center;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: rgb(64, 64, 64);
}